/*(for all=*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('https://images.unsplash.com/photo-1458253756247-1e4ed949191b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGFyayUyMGZvb2QlMjBwaG90b2dyYXBoeXxlbnwwfHwwfHw%3D&w=1000&q=80');
}

/* declear the variables */
:root {
    --navbar-height: 50px;
}
/*navigation bar*/

/*section*/
#home {
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 330px;
    width: 700px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 120px;
    font-family: 'Brush Script MT', cursive;
}

#home::before {
    content: "";
    background: url('https://www.shutterstock.com/image-photo/background-cooking-tagliatelle-pasta-ingredients-260nw-1724611486.jpg');
    position: absolute;
    height: 230px;
    width: 700px;
    z-index: -1;
    opacity: .4;
    padding: 12px;
    margin-top: 300px;
    margin-bottom: 120px;
}

#home h2 {
    font-size: 2.4rem;
}

#home p {
    text-align: center;
    font-size: 1.2rem;
}

/*utility class*/
.h-prim {
    text-align: center;
    font-size: 2.8rem;
    font-family: Copperplate, fantasy;
    text-shadow: 4px 4px rgb(0, 0, 0);
}

/*services container*/
.services-cont{
    justify-content: center;
    text-align: center;
    display: flex;

}
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    margin: 16px;
    border-radius: 25px;
    background-color: rgb(60 61 66);
}
#services .box:hover{
    margin: 16px;
    padding: 12px;
    border-radius: 25px;
    background-color: rgb(120, 0, 131);
}
#services .box img{
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
    padding: 9px;
    border-radius: 25px;

}
.h-pr{
    padding-top: 36px;
    color: azure;
    font-size: 1.75rem;
    padding: 10px 10px;
    font-family: 'Brush Script MT', cursive;

}
.h-sec{
    padding: 12px;
    font-size: 1.4rem;
    color: azure;
    font-family: 'Brush Script MT', cursive;

}
.box p{
    color: white;
}
.fav-cont{
    text-align: center;
}
#favs{
    margin: 34px;
    display: flex;
}
#favs .favbox{
    margin: 16px;
    border-radius: 25px;
    background-color: rgb(60 61 66);
}
#favs .box:hover{
    margin: 6px;
    padding: 6px;
    border-radius: 25px;
    background-color: rgb(120, 0, 131);
}
#favs .box img{
    display: block;
    margin: auto;
    height: 150px;
    width: 150px;
    padding: 9px;
    border-radius: 25px;

}
.h-pr{
    padding-top: 36px;
    color: azure;
    font-size: 1.75rem;
    padding: 10px 10px;
    font-family: 'Brush Script MT', cursive;

}
.h-sec{
    padding: 12px;
    font-size: 1.4rem;
    color: azure;
    font-family: 'Brush Script MT', cursive;

}
.box p{
    color: white;
}

/* order botton */
.order{
    display: inline-block;
    text-align: center;
    height: 600%;
    width: 700px;
    margin-top: 100px;
    padding: 60px;
}
.order h1{
    padding: 20px;
}
.order .ordb{
    color: rgb(0, 0, 0);
    background-color: rgb(251, 255, 0);
    height: 70px;
    width: 450px;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
}
.order .ordb:hover{
    color: aliceblue;
    background-color: rgb(162, 0, 0);
    height: 70px;
    width: 300px;
    font-size: 2.3rem;
    cursor: pointer;
    border-radius: 30px;

}
footer{
    text-align: center;
}
footer{
    color: antiquewhite;
}
footer h1{
    color: aliceblue;
}
::selection{
    background-color: rgb(176, 100, 248);
    color: rgb(0, 0, 0);
}

/* forms */
.formhome{
    display: flex;
    color: aliceblue;
    margin-top: 33px;
    display: block;
    margin: auto;
    text-align: center;
    height: 40%;
    width: 90%;
}
.formhome h2{
    font-size: 32px;
    font-family: 'Brush Script MT', cursive;
    padding: 34px;
}
.formhome p{
    font-size: 22px;
    font-family: 'Brush Script MT', cursive;
    padding: 14px;
}
.formhome h1{
    font-size: 22px;
    font-family: 'Brush Script MT', cursive;
    padding: 34px;
    color: bisque;
}
.fprmpal{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(223, 189, 255);
}
.fprmpal label{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(223, 189, 255);
    font-size: 24px;
}
.fprmpal input{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 186, 255);
    border-radius: 23px;
    font-size: 27px;
    width: 350px;
}
.fprmpal textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 186, 255);
    font-size: 27px;
    width: 350px;
    border-radius: 23px;
}
.fprmpal select{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 186, 255);
    font-size: 27px;
    border-radius: 23px;
    width: 350px;
}
#buttons a{
    display: block;
    text-decoration: none;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 2, 2);
    font-size: 16px;
    border-radius: 23px;
    width: 140px;
    margin: 20px;
    padding: 12px 79px;
}
html{
    scroll-behavior: smooth;
}


