@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&family=Ubuntu:wght@300&display=swap');

.cont .logo {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    margin: 1px 20px;
}
::-webkit-scrollbar {
    display: none;
  }
body {
    height: 98vh;
    background-image: linear-gradient(rgb(142, 45, 142), rgb(45, 56, 255));
    background-image: url('back3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

nav {
    font-family: 'Tangerine', cursive;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.7);
    position: sticky;
    width: 100%;
    cursor: pointer;
}

.cont .messages {
    font-family: 'Tangerine', cursive;
    font-family: 'Ubuntu', sans-serif;
    max-width: 900px;
    margin: auto;
    height: 77vh;
    display: block;
    color: white;
    font-size: 20px;
    overflow-y: auto;
    border-radius: 20px;
    border: 6px solid black;
}

.backgr1 {
    background-color: rgb(0, 0, 0, 0.4);
}

.msg {
    height: 30px;
    padding: 10px;
    margin: 12px;
    width: 60%;
    border: 2px solid black;
    clear: both;
    margin: auto;
    background-image: linear-gradient(rgb(140, 40, 123), rgb(0, 0, 0));
    height: auto;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

.lef {
    display: block;
    float: left;
    background-color: rgb(167, 39, 127);
    height: 30px;
    padding: 10px;
    margin: 12px;
    width: auto;
    max-width: 60%;
    border: 2px solid black;
    clear: both;
    overflow: hidden;
    background-image: linear-gradient(rgb(255, 0, 255), rgb(0, 13, 251));
    height: auto;
    overflow-y: auto;
    word-wrap: break-word;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
}

.rig {
    display: block;
    float: right;
    background-color: blueviolet;
    height: 30px;
    padding: 10px;
    margin: 12px;
    width: auto;
    max-width: 60%;
    border: 2px solid black;
    clear: both;
    overflow: hidden;
    background-image: linear-gradient(rgb(0, 251, 217), rgb(76, 0, 255));
    height: auto;
    overflow-y: auto;
    word-wrap: break-word;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
}

.mid {
    display: block;
    background-color: rgb(14, 107, 82);
    height: 30px;
    padding: 10px;
    margin: 12px;
    margin: auto;
    width: 30%;
    border: 2px solid black;
    clear: both;
    background-image: linear-gradient(rgb(171, 200, 100), rgb(74, 168, 138));
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.mid2 {
    display: block;
    background-color: rgb(107, 14, 14);
    height: 30px;
    padding: 10px;
    margin: 12px;
    margin: auto;
    width: 30%;
    border: 2px solid black;
    clear: both;
    background-image: linear-gradient(rgb(173, 122, 52), rgb(255, 45, 45));
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

#send {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: fixed;
    height: 80px;
    float: bottom;
}

#send #sendcon {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#send #sendcon #msginp {
    width: 700px;
    border: 2px solid black;
    border-radius: 30px;
    height: 47px;
    background-color: rgb(191, 79, 167);
    color: white;
    cursor: text;
}

#send #sendcon #msginp:hover {
    cursor: text;
    z-index: 1;
    background-color: rgb(147, 62, 129);
}

#send #sendcon ::placeholder {
    color: white;
}

#send #sendcon .btn {
    border: 2px solid black;
    border-radius: 30px;
    height: 32px;
    background-color: rgb(191, 79, 167);
    color: white;
    width: 100px;
    cursor: pointer;
}

#send #sendcon .btn:hover {
    background-color: red;
    cursor: pointer;
}

#image-preview{
    width: 200px;
    height: 200px;
}